a:hover{
	text-decoration: none;
}

.para{
	color: black;
}

.hint{
	color: gray;
	font-size: 15px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*footer sytling*/
.footer{
	background-color: #343a40;
}
.image{
	width: 3%;
	height:auto;
}
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}
.fit-image{
/*width: 100%;*/
width: 100%;
object-fit: cover;
height: 100%; /* only if you want fixed height */
display: inline-block;
margin-bottom: auto;
}

/*label and input fields control*/
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
.similar a:{
  background-color: black;
}